.main {
	display: flex;
	flex-direction: row;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 40;

	.menu {
		background-color: #39f;
		box-shadow: #aaa 0 0 7px;
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 290px;
		transition: all 0.25s;

		&.reduced {
			background-color: transparent;
			box-shadow: none;
			width: 68px;

			.reduceButton {
				button {
					color: #222;
				}
			}

			.menuOptions {
				button {
					color: #222;

					.text {
						opacity: 0;
						pointer-events: none;
						background-color: #3339;
						border-radius: 4px;
						color: #fff;
						padding: 7px;
						position: fixed;
						transform: translateY(-8px) translateX(0px);
						transition: all 0.25s;
					}

					&.active {
						border-left-color: #222;
					}

					&:hover {
						background-color: #fff9;
						font-size: 16px;

						.text {
							opacity: 1;
							transform: translateY(-8px) translateX(40px);
						}
					}
				}
			}

			.balances {
				background-color: #1113;
				position: fixed;
				bottom: 0;
				width: 232px;
			}
		}

		.reduceButton {
			width: 100%;

			button {
				background-color: transparent;
				border: none;
				border-radius: 7px;
				color: #fff;
				cursor: pointer;
				font-size: 18px;
				padding: 24px;
				transition: all 0.25s;

				svg {
					min-width: 18px;
					min-height: 18px;
				}
			}
		}

		.userInfo {
			background-color: #3331;
			border-radius: 7px;
			color: #444;
			display: flex;
			flex-direction: row;
			font-size: 16px;
			padding: 7px 14px;
			margin: 14px;
			position: fixed;
			right: 0;

			.user {
                background-color: #eee;
                border: 2px solid #ccc;
                border-radius: 50px;
                color: #aaa;
                padding: 5px;
                margin-right: 14px;

                svg {
                    margin: 5px;
                    height: 18px;
                    width: 18px;
                }
			}

			.details {
                display: flex;
                flex-direction: column;

				.fullName {
					font-weight: bold;
					text-align: right;
				}

				.email {
					text-align: right;
					color: #999;
				}
			}
		}

		.menuOptions {
			button {
				background-color: transparent;
				border: 0px solid #fff;
				border-left-width: 7px;
				border-left-color: transparent;
				color: #fff;
				cursor: pointer;
				display: flex;
				flex-direction: row;
				font-size: 16px;
				margin-top: 14px;
				padding: 17px;
				transition: all 0.25s;
				width: 100%;

				&.active {
					background-color: #fff6;
					border-left-color: #fff;
				}

				.icon {
					min-width: 18px;
					min-height: 18px;
				}

				.text {
					margin-left: 17px;
				}

				&:hover {
					background-color: #fff3;
				}
			}
		}

		.space {
			display: flex;
			flex-grow: 1;
			height: 100%;
		}

        .month {
            color: #fff;
            display: flex;
            flex-direction: row;
			padding: 0 14px;

            button {
                background-color: #fff6;
                border: none;
                border-radius: 4px;
                color: #fff;
                cursor: pointer;
                padding: 0 14px;
                transition: all 0.25s;
                
                &:hover {
                    background-color: #fff9;
                }
            }

            .dataBase {
                display: flex;
                flex-direction: row;
                font-size: 18px;
                justify-content: center;
                padding: 7px 10px;
                width: 100%;
            }
        }

		.balances {
			background-color: #fff3;
			border-radius: 7px;
			color: #fff;
			margin: 14px;
			padding: 14px;
			transition: all 0.25s;

			.group {
				margin-bottom: 7px;

				&:last-child {
					margin-bottom: 0px;
				}

				.title {
					font-weight: bold;
					margin-bottom: 4px;
				}

				.value {
					display: flex;
					font-size: 28px;
					text-align: right;

					.currency {
						font-size: 16px;
						text-align: left;
					}

					.balance {
						display: flex;
						justify-content: flex-end;
						font-size: 36px;
						width: 100%;
					}
				}
			}
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;
		padding: 21px;

		h3 {
			color: #aaa;
		}
	}
}
