spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: thmpv005
    url: jdbc:mysql://localhost:3306/gerfinweb?serverTimezone=UTC
  jpa:
    show-sql: false
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        jdbc:
          time-zone: UTC
    hibernate:
      ddl-auto: validate
app:
  cors:
    allowedOrigins: http://localhost:3000,http://localhost:8080
gerfinweb:
  user:
    imageFolder: 'D:\Desenvolvimento\gerfinweb\user-image\'